<!DOCTYPE html>
<html>
<title>Card Game Simulator Lobby</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="/assets/css/lobby.css">
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="../js/lobby.js"></script>
<body>
  <div class="center-div">
    <div class="logo-div">
      <img class="logo" src="/assets/logo.jpg" alt="Card Game Simulator">
    </div>
    <div class="row">

      <!-- <div class="column-left">
        <div class="form-box">
          <h1>Join a Game</h1>
          <form action="/" method="GET">
            <label for="nickname">Nickname:</label>
            <input
              type="text"
              name="nickname"
              placeholder="Enter a nickname"
            />
            <label for="roomCode">Room Code:</label>
            <input
              type="text"
              name="roomCode"
              placeholder="Enter room code"
            />
            <input type="submit" value="JOIN">
          </form>
          <hr>
          <h1>Host a Game</h1>
          <form action="/host-a-game" method="GET">
            <label for="nickname">Nickname:</label>
            <input
              type="text"
              name="nickname"
              placeholder="Enter a nickname"
            />
            <input type="submit" value="CREATE">
          </form>
        </div>
      </div> -->
        <div class="form-box">
          <h2>Active Game Rooms</h2>
          <table style = "width:100%">
            <tr>
              <th>Your Nickname</th>
              <th>Room Name</th>
              <th>Players</th>
              <th>Room Code</th>
              <th>Owner</th>
              <th>Game Type?</th>
              <th>Join</th>
            </tr>
          <% Object.keys(activeGameRooms).forEach(function(room){%>
            <%if (activeGameRooms[room] != null){%>
              <tr><form action="/" method="GET" >
                <td><input required
                  type="text"
                  name="nickname"
                  placeholder="Enter a nickname"
                  maxlength="20"
                /></td>
                <td><%=activeGameRooms[room].roomName%></td>
                <td><%=activeGameRooms[room].numPlayers%>/<%=activeGameRooms[room].maxPlayers%></td>
                <td><%=activeGameRooms[room].roomCode%></td>
                <td><%=activeGameRooms[room].roomOwner%></td>
                <td><%=activeGameRooms[room].gameDesc%></td>
                <td>
                    <input required hidden="true"
                      name="roomCode"
                      value="<%=activeGameRooms[room].roomCode%>"
                    />
                    <input type="submit" value="JOIN">
                </td>
              </form></tr>
            <%}%>
          <%});%>
          <tr>
            <form action="/host-a-game" method="GET" >
              <td><input required
                type="text"
                name="nickname"
                placeholder="Enter a nickname"
                maxlength="20"
              /></td>   
              <td><input required
                type="text"
                name="roomName"
                placeholder="Enter a room name"
                maxlength="20"
              /></td>
              <td><input
                type="number"
                name="maxPlayers"
                placeholder="2-8"
                min="2"
                max="8"
              /></td>
              <td>(Automatic)</td>
              <td>(You!)</td>
              <td><input
                type="text"
                name="gameDesc"
                placeholder="Describe your game room"
                maxlength="100"
              /></td>
              <td>
                  <input type="submit" value="CREATE">
              </td>
            </form>
          </tr>
          </table>
        </div>
    </div>
  </div>
</body>
</html>